include MANIFEST.in
include LICENSE
include amalgamation/sqlite3/*
include amalgamation/sqlcipher/*
include cross_bdist_wininst.py
include doc/*.txt
include doc/includes/sqlite3/*.py
include doc/sphinx/*
include doc/sphinx/.static/.keepme
include src/*.h
